 
 
 
 
 html {
    box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
 
     }
*,*::after, *::before {
         box-sizing: inherit;
}




body{
  margin: 0;
   padding: 0;  

   
   background-attachment: fixed;
   background:  linear-gradient(170deg, rgba(247, 95, 95, 0.841) 0, rgba(0, 0, 0, 0.6) 25%), url("../assets/imagenes/imagen_bg.jpg");
  
   background-size: cover;
   background-attachment: fixed;
    }

    :root{
        --first-color-laSegunda: rgb(226, 0, 57);
        --color-footer: rgb(72, 138, 171);
    }
    


/*LOGO*/

.logo{

  width: 40px;
  height: 40px;
  position: relative;
  
}

.logo a img{
  position: absolute;

  margin-left: 10px;
  width: 40px;
}

    /* ********** Menu ********** */
    .menu-btn {
      /*outline: thin solid var(--first-color);*/
      border: 0;
      cursor: pointer;
      
      background-color: rgb(21, 21, 21, 0);
      margin-left: 75%;
      

    z-index: 100;
    }
    
    .menu-btn svg {
   
      fill: white;
        
    }
    
    .menu {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
        background-color: rgba(5, 5, 5, 0.75); 
      /* background-color: black;
     border-radius: 30px; */
     margin-top: -100px;
     padding-top: 100px;
      backdrop-filter: blur(.1rem);
    /* border: 3px solid white;
     box-shadow: 0 5px .4rem .2rem rgb(193, 192, 192); */
      opacity: 0;  /*solo se verá cuando sea activo*/
      pointer-events: none;
      transition: opacity 0.8s ease;
      z-index: -1;
    }
    
    .menu.is-active {
      opacity: 1;
      pointer-events: auto;

      
    }
    
    .menu a {
      padding: 0.3rem;
      font-size: 1.2em;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      color: var(--first-color-laSegunda);
      transition: color .2s;
    }
    
    .menu a:hover {
      color: rgb(192, 188, 188);

      
    }

    .none {
      display: none;
    }
   
    

    


/*......................................................*/




h1{
    width: 100%;
    

   
    
    text-align: center;
    color: var(--first-color-laSegunda);
    font-size: 1.4rem;
    margin: 50px auto;
   
}

h2{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-style: italic;
    padding: 10px 0;

    margin-bottom: 30px;

    font-weight: 100;
    color: rgb(38, 77, 96);
    color: white;
    font-size: 1rem;
   
    border-top: 2px solid var(--first-color-laSegunda);
    border-bottom: 2px solid var(--first-color-laSegunda);
    backdrop-filter: blur(.5rem);
    
    
    
}

 
.button{
    background-color: var(--color-footer);
    color: aliceblue;
    display: block;
    width: auto;
    padding: 8px;
    text-align: center;
    margin: 3px auto;
 
    margin-top: 10px;
    font-size: .7rem;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    box-shadow: 0 4px .4rem .1rem rgb(37, 37, 37);
    transition: opacity .3s;
} 

.button:hover{
    opacity: 0.8;
    box-shadow: 0 1px .2rem .1rem rgb(22, 22, 22);
}
/* 
.header{
    width: 100%;
    min-height: 100vh;

    position: relative;
    margin-top: -100px;
  
} */



.main-home{
    width: 260px;
    height: 460px;
    
    margin: 80px auto 0 auto;
    
    position: relative;

    background: url("../assets/imagenes/img_lasegunda.jpg");
    
    background-size: 140%;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-attachment: scroll;


    border-top: 18px solid black;
    
    border-bottom: 32px solid black;
    
    border-left: 10px solid black;
    
    border-right: 10px solid black;
    border-radius: 20px;
    box-shadow: 5px 20px 1.2rem .4rem rgb(107, 79, 79);
    background-color: rgb(46, 44, 44);
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
  
}

.main-home::-webkit-scrollbar{
    width: 8px;
    
    /* background: rgba(89, 210, 250, 0.707); */
}

.main-home::-webkit-scrollbar-thumb{

    height: 50px;
    border-radius: 20px;
    background: var(--first-color-laSegunda);
   
}


.main-home p{

    width: 80%;
    margin: 0px auto;
    padding: 0 10px;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.099);
 

    font-size: .7rem;
    text-align: start;
}




.card p{
    width: 100%;
    margin-top: -30px;
    text-align: center;
    
    padding: 5px 0;



    
    color: white;
    font-size: 2rem;
   
    
    
    
}


 /*
.main-home::before{
    content: "";
    position: fixed;
    width: 6px;
    height: 500px;
    top: 73px;
    z-index: 11;
    background-color: black;
    border-radius: 4px 0 0 4px;
}

.borde-derecho-celular{
    
    position: fixed;
    height: 6px;
    width: 500px;
    top: 70px;
    
    transform: translateX(-17px) translateY(250px) rotateZ(90deg);
    
    z-index: 11;
    background-color: black;
    border-radius: 4px;
}

.borde-superior-celular{
    
    position: sticky;
    width: 240px;
    height: 15px;
    top: 0%;
    z-index: 10;
    background-color: black;
}

.borde-inferior-celular{

    position: sticky;
    width: 240px;
    height: 32px;
    top: 95%;
    left: 2px;
    z-index: 10;
    background-color: black;
} */

.container-logo-nav{
    
    width: 100%;
    position: fixed;
    top: -50px;
    
    padding: 20px 20px;
    padding-top: 59px;
    
    display: flex;
   
    align-items: center;
    z-index: 100;
}


/* 
.contenedorResultados{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    margin: 50px 0;
background-color: black;
}

.hijo{
    width: 150px;
    height: 200px;
    background-color: black;
    color: red;
    margin: 0 30px;
}

.nombre{
display: inline-block;
padding: 10px;
margin: 20px 20px;
background-color: gray;
color: black;
}
.apellido{
    display: inline-block;
    padding: 10px;
    margin: 10px 20px;
    background-color: rgb(227, 134, 134);
    color: rgb(31, 57, 176);
    }
 
    .contenedor-card{
        width: 200px;
        height: 250px;
        display: flex;
        flex-direction: column;
       justify-content: space-around;
        background-color: greenyellow;
    }

    .contenedor-card >*{
        text-align: center;
        background-color: red;
        display: block;
    }

    .contenedor-card>:nth-child(2){
        background-color: aliceblue;
    }
    .contenedor-card>:nth-child(3){
        background-color: rgb(146, 203, 253);
    }
    .contenedor-card img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }
*/

.backdrop-filter{
    background-color: rgba(93, 93, 93, 0.457);
    backdrop-filter: blur(.2rem);
}



.bg-comun{
    background-color: rgba(100, 203, 255, 0.776);
}













.card-filter{
    display: block;
    margin: 50px auto;
    padding: 6px;
    background-color: var(--color-footer);
    border-radius: 5px;
    color: var(--first-color-laSegunda);
    border: 0 solid transparent;
    box-shadow: 0px 4px .4rem .2rem rgb(112, 111, 111);
    transition: background-color .5s linear;
}
.card-filter::placeholder{
    color: white;
}

.card-filter:hover{
    background-color: rgb(246, 247, 248);
    
}
.card-filter:hover::placeholder{
    color: rgb(91, 91, 91);
}

.filter{
    /*display: none;*/
    visibility: hidden;
    display: none;
    opacity: 0;
    order: 1;
}

 .cuotas{
    position: relative;
    width: 100%;
    height: 40px;
   

 
    display: flex;
    flex-direction: column;

  margin-top: 20px;
    
    z-index: 60;

    animation: Opacity 1s linear both;
} 

@keyframes Opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.display-none{
  
    display: none;
    opacity: 0;
    animation: OpacityReverse 1s ease-in-out both;
}

@keyframes OpacityReverse{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.cuota{
    width: auto;
    height: 30px;
 
    display: flex;
    justify-content: center;
}

.cuota span{
    display: inline-block;
    width: auto;
    text-align: center;

    color: white;
    font-size: .9em;
    margin: 0 5px;

}


.blur{
    backdrop-filter: blur(.1rem);
     background-color: rgba(255, 255, 255, 0.631); 
}


.centrar{
    width: 220px;
    margin-left: 10px;
}

.centrar p{
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 1rem;
}

.padding{
    padding-bottom: 40px;
}






.contenedor-modelos{
    width: 220px;
  margin-left: 10px;

    margin-top: 200px;
    padding-top: 30px;
    
}

    .contenedor-imagenes{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
       
       /*  background-color: rgba(100, 203, 255, 0.776);
       */
    padding-top: 20px;
        
    }


    .imagen{
        width: 280px;
        height: auto;
        background-color: rgba(100, 203, 255, 0.776);
        box-shadow: 0 0 .2rem .1rem rgb(89, 88, 88);
        margin-bottom: 50px;
        padding: 20px 0;
        position: relative;
       /*  background-color: rgba(204, 204, 204, 0.074);
        background-color: rgb(228, 225, 225);
        border: 10px solid rgb(7, 7, 7);
        border-radius: 25px;
        box-shadow: 3px 5px .4rem .2rem rgb(95, 94, 94);
        transform: perspective(1000px) rotateX(10deg) rotateY(25deg);
 */
        
        
    }

    .imagen h3{
        text-align: center;
        color: black;
        text-shadow: 0px 2px rgb(232, 231, 231);
        font-weight: bold;
       top: -20px;
        position: relative;
        font-size: 1.3rem;
        font-family: 'Courier New', Courier, monospace;
        
    }

    .imagen p{
        font-size: 1.5rem;
        background-color: transparent;
    }

/* 
    
    .imagen h3::before{
        content: "";
        position: absolute;
        width: 49px;
        height: 0px;
        border-radius: 5px;
        
        background-color: transparent;
        position: absolute;
        top: 55%;
        right: 80px;
        box-shadow: .5px .75px .5rem .7rem rgb(219, 217, 217);
        animation: AnimationModel 5s ease-in-out infinite;
       
    }
 

    @keyframes AnimationModel{
        0%{
            transform: translateX(-30px);
        }
        25%{
            transform: translateX(0px);
        }
        60%{
            transform: translateX(-40px);
        }
       85%{
            transform: translateX(0px);
        }
        100%{
            transform: translateX(-30px);
        }
    }*/

    .imagen img{
     
        width: 100%;
        height: auto;
       
        object-fit: fill;
        animation: AnimationMobile 10s linear infinite;
  
    }



    @keyframes AnimationMobile{
        0%{
            
            transform: perspective(1000px) rotateY(0deg) rotateX(0deg) rotateZ(0deg);
        }
        25%{
            transform: perspective(1000px) rotateY(10deg) rotateX(30deg) rotateZ(20deg);
        }
       50%{
            transform: perspective(1000px) rotateY(0deg) rotateX(30deg) rotateZ(0deg);
        }
        75%{
            transform: perspective(1000px) rotateY(-20deg) rotateX(-20deg) rotateZ(-20deg);
        }
        100%{
            transform: perspective(1000px) rotateY(0deg) rotateX(0deg) rotateZ(0deg);
        }
    }





.link{
    display: block;
    width: 100px;
    color: white;
    font-size: .9rem;
    background-color: var(--first-color-laSegunda);

    box-shadow: 0 8px .4rem .1rem rgb(78, 77, 77);
    text-align: center;
    margin: 40px auto 5px auto;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: all .3s;
    animation: AnimationPedido 3s ease-in-out infinite;

    
}



    
.link:hover{
   
    color: white;
    background-color: var(--first-color-laSegunda);
    box-shadow: 0 5px .3rem .1rem rgb(88, 87, 87);
    animation-play-state: paused;
}



@keyframes AnimationPedido{

   
  0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(0px);
    }
    35%{
        transform: translateY(-7px);
    }
    40%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(0px);
    }
    75%{
        transform: translateY(0px);
    }
    85%{
        transform: translateY(-10px);
    }
    90%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px);
    } 

}




.enlaces-contacto{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 20px 0;
}

.enlaces-contacto a{
    text-decoration: none;
    font-size: .8rem;
    color: var(--first-color-laSegunda);
   
    margin: 5px 0;
    
}

.enlaces-contacto a span{
    display: block;
    text-align: center;
}

.enlaces-contacto a span:nth-child(1){
    color: var(--color-footer);
    font-style: italic;
}
/*--------------FOOTER--------------------*/



.footer{
    position: fixed;
    bottom: 0%;
 
    
    background: linear-gradient(90deg, rgb(28, 56, 70) 0, var(--color-footer) 100%);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0;
    
}

.footer__anclaFooter{
    text-decoration: none;
   
}
.anclaFooter__p{
    
    width: 60px;
    text-align: center;
    font-size: .6rem;

    color: white;
    transition: all .3s;
}

.anclaFooter__p:hover{
    transform: scale(1.1);
   
    color: rgb(255, 0, 0);
}









.h1-tickets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   text-shadow: 2.5px 0 rgb(209, 207, 207);
    margin: 0;
   margin-bottom: 70px; 
   
   }



  .contenedorValor{
    position: relative;

    margin-top: 60px;
    height: 60px;
  
    padding: 5px 0 15px 0;


    overflow: hidden;
    
  }


  .h1-tickets__valor{
    
    margin: 0 auto;
    text-align: center;

    font-size: 1.4rem;
    border-radius: 5px;
font-weight: 100;
    color: rgb(38, 77, 96);
   color: white;
   text-shadow: none;
   background-color: transparent;
    
  }
 
.contenedorValor span:nth-child(2){
    position: absolute;
    top: 0;
    left: 0%;
    width: 2px;
    height: 100%;
    border: 2px dotted var(--first-color-laSegunda);
   
   animation: animate-2 4s linear infinite;
}
 


 
 .btn-pregunta{
    width: 100%;
   font-size: .75rem;
   color: white;
   font-style: italic;
   text-align: start;
   margin: 10px auto;
   background-color: transparent;
   border: none;
   cursor: pointer; 
}  

.respuesta{
   font-size: .8rem;
    color: var(--first-color-laSegunda);
    background-color: rgba(128, 128, 128, 0.684);
   
}


@keyframes animate-2{
    0%{
        transform: translateY(-100%);
        opacity: 1;
    }
    50%{
        transform: translateY(100%);
        opacity: .2;
    }
    51%{
       opacity: 0;
    }
    100%{
      opacity: 0;
    }
    

}




 

.contenedorValor span:nth-child(3){
    position: absolute;
    bottom: 0%;
    left: -100%;
    width: 100%;
    height: 2px;
   /* box-shadow: 0px 0 .3rem .05rem var(--border-color);
    */border: 2px dotted var(--first-color-laSegunda);
   animation: animate-3 4s linear infinite 1s;
}

@keyframes animate-3{
    0%{
        transform: translateX(0%);
        opacity: 1;
    }
    50%{
        transform: translateX(200%);
        opacity: .2;
    }
    51%{
       opacity: 0;
    }
    100%{
      opacity: 0;
    }
    

}
 


.contenedorValor span:nth-child(4){
    position: absolute;
    bottom: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    border: 2px dotted var(--first-color-laSegunda);
   animation: animate-4 4s linear infinite 2s;
}
 
@keyframes animate-4{
    0%{
        transform: translateY(0%);
        opacity: 1;
    }
    50%{
        transform: translateY(-200%);
        opacity: .2;
    }
    51%{
       opacity: 0;
    }
    100%{
      opacity: 0;
    }
    

}






.contenedorValor span:nth-child(5){
    position: absolute;
    top: 0%;
    right: -100%;
    width: 100%;
    height: 2px;
    /*box-shadow: 0px 0 .3rem .05rem var(--border-color);
    */
    border: 2px dotted var(--first-color-laSegunda);
   animation: animate-5 4s linear infinite 3s;
}

@keyframes animate-5{
    0%{
        transform: translateX(0%);
        opacity: 1;
    }
    50%{
        transform: translateX(-200%);
        opacity: .2;
    }
    51%{
       opacity: 0;
    }
    100%{
      opacity: 0;
    }
    

}





@media screen and (min-width: 1024px) {
      
      
      
    .menu-btn {
      display: none;
    }
  
    .menu {
      position: sticky;
      width: auto; /*que el ancho se adapte al nª enlaces que tenga*/
      flex-direction: row;
      opacity: 1;
      pointer-events: auto;
      top: 0;
      background-color: transparent;
      
      z-index: 0; /*(lo puse yo)*/
    }
  
    .menu a {
        font-size: 1.2rem;
      padding: 0 0.6rem;
      color: var(--first-color-laSegunda);
      
    }
  
    .menu a:last-child { /*para igualar los paddings del último enlace
      con el del iz del logo*/
      padding-right: 0;
      margin-right: 1rem;
    }
  
    .menu a:hover {
      background-color: transparent;
      font-size: 1.2rem;
      
    }



    .container-logo-nav{
  
      width: 100%;
      position: fixed;
      top: 0%;
      padding: 5px 50px;
     background-color: rgba(0, 0, 0, 0.611);
      display: flex;
      justify-content: space-evenly;
      align-items: center;
  }


  


  }
  


